<!DOCTYPE html>
<ui:composition template="/WEB-INF/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<ui:define name="titulo">LMSystem - Cadastro de empresa</ui:define>
	<ui:define name="corpo">
		<f:metadata>
			<f:viewAction action="#{empresaBean.iniciar}" />
		</f:metadata>
		<p:panel header="Cadastro de Empresa" styleClass="panel-formulario">
			<h:form id="frm-empresa">
				<p:focus for="empresa" />
				<p:panelGrid columns="4" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-1, ui-grid-col-4, ui-grid-col-1, ui-grid-col-2">
					<p:panelGrid>
						<p:outputLabel value="Código" for="codigo" />
						<p:inputText styleClass="somente-leitura" readonly="true" id="codigo" disabled="#{empty empresaBean.empresa}" value="#{empresaBean.empresa.pkempresa}" />
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="Empresa" for="empresa" />
						<p:inputText label="Empresa" id="empresa" disabled="#{empty empresaBean.empresa}" required="true" onkeyup="maiusculo(this)" value="#{empresaBean.empresa.empresa}" />
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="Sigla" for="sigla" />
						<p:inputText id="sigla" value="#{empresaBean.empresa.sigla}" disabled="#{empty empresaBean.empresa}" required="true" onkeyup="maiusculo(this)" />
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="CNPJ" for="cnpj" />
						<p:inputMask id="cnpj" value="#{empresaBean.empresa.cnpj}" required="true" mask="99.999.999/9999-99" disabled="#{empty empresaBean.empresa}" />
					</p:panelGrid>
				</p:panelGrid>
				<p:panelGrid columns="2" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-5, ui-grid-col-3">
					<p:panelGrid>
						<p:outputLabel value="Secrtearia responsável" for="secretaria" />
						<p:inputText id="secretaria" disabled="#{empty empresaBean.empresa}" value="#{empresaBean.empresa.secretaria}" required="true" onkeyup="maiusculo(this)" />
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="Órgão" for="orgao" />
						<p:selectOneRadio id="orgao" layout="grid" columns="2" value="#{empresaBean.empresa.orgao}" required="true" disabled="#{empty empresaBean.empresa}" >
				            <f:selectItem itemLabel="Municipal" itemValue="M" />
				            <f:selectItem itemLabel="Estadual" itemValue="E" />						            
				        </p:selectOneRadio>
					</p:panelGrid>
				</p:panelGrid>
				<p:panelGrid columns="1" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-5">
					<p:panelGrid>
						<p:outputLabel value="Estado" for="estado" />
						<p:autoComplete id="estado" value="#{empresaBean.empresa.uf}" title="Selecione o Estado da Empresa." disabled="#{empty empresaBean.empresa}"
							required="true" var="uf" itemLabel="#{uf.uf}"  itemValue="#{uf}" completeMethod="#{empresaBean.listarUfs}"
							minQueryLength="1" maxResults="100" queryDelay="1000" effect="blind" dropdownMode="current" forceSelection="true" scrollHeight="150"/>
					</p:panelGrid>
				</p:panelGrid>
				<p:panelGrid  columns="3" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-1, ui-grid-col-1, ui-grid-col-1">
					<p:commandButton value="Novo" action="#{empresaBean.novo}" rendered="#{empty empresaBean.empresa}" update="frm-empresa" />
					<p:commandButton value="Salvar" action="#{empresaBean.salvar}" icon="fa fa-save" rendered="#{not empty empresaBean.empresa}" update="frm-empresa frm-localizar" />
					<p:commandButton value="Excluir" action="#{empresaBean.remover}" process="@this" icon="fa fa-remove" update="frm-empresa frm-localizar" disabled="#{empty empresaBean.empresa.pkempresa}" >
						<p:confirm icon="ui-icon-alert" message="Tem certeza que deseja excluir a Empresa?" />
					</p:commandButton>
					<p:commandButton value="Cancelar" icon="fa fa-refresh" action="#{empresaBean.limpar}" disabled="#{empty empresaBean.empresa}" immediate="true" />
				</p:panelGrid>
			</h:form>
			<p:separator />
			<h:form id="frm-localizar">
				<p:panelGrid id="pnl-pesquisa" columns="3" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-5, ui-grid-col-1, ui-grid-col-6">
					<p:inputText id="nome-empresa" value="#{empresaBean.nomeEmpresa}" onkeyup="maiusculo(this)" title="Pesquisa pelo nome." placeholder="Pesquisar pelo nome da Empresa." />
					<p:commandButton value="Pesquisar" action="#{empresaBean.pesquisar}" icon="fa fa-search" update="frm-empresa frm-localizar" />
					<p:panelGrid columns="2" layout="grid" styleClass="panelgrid-noborder" style="float: right;">
						<p:commandLink title="Exportar para XLS" ajax="false" immediate="true" disabled="#{empty empresaBean.empresas}">
							<h:graphicImage library="img/png" name="xls.png" width="15" />
							<p:dataExporter type="xls" target="lista-empresas" fileName="Relação de empresas"/>
						</p:commandLink>
						<p:commandLink title="Exporat para pdf" ajax="false" immediate="true" disabled="#{empty empresaBean.empresas}">
							<h:graphicImage library="img/png" name="pdf.png" width="15" />
		   					<p:dataExporter type="pdf" target="lista-empresas" fileName="Relação de empresas" />
						</p:commandLink>
					</p:panelGrid>
				</p:panelGrid>
				<p:dataTable id="lista-empresas" value="#{empresaBean.empresas}" var="e" rows="5" paginator="true" reflow="true" paginatorAlwaysVisible="false" paginatorPosition="bottom"
					emptyMessage="Nenhum registro satisfaz à pesquisa." selection="#{empresaBean.empresa}" selectionMode="single" rowKey="#{e.pkempresa}">
					<p:ajax event="rowSelect" update="frm-empresa" />
					<p:ajax event="rowUnselect" update="frm-empresa" />
					<p:column headerText="Código" styleClass="coluna-codigo">
						<p:outputLabel value="#{e.pkempresa}" />
					</p:column>
					<p:column headerText="Empresa">
						<p:outputLabel value="#{e.empresa}" />
					</p:column>
					<p:column headerText="CNPJ" styleClass="coluna-cnpj">
						<p:outputLabel value="#{e.cnpj}" />
					</p:column>
					<p:column headerText="Estado" styleClass="coluna-codigo">
						<p:outputLabel value="#{e.uf.sigla}" />
					</p:column>
				</p:dataTable>
			</h:form>
		</p:panel>
	</ui:define>
</ui:composition>