<!DOCTYPE html>
<ui:composition template="/WEB-INF/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<ui:define name="titulo">LMSystem - Cadastro de usuários</ui:define>
	<ui:define name="corpo">
		<f:metadata>
			<f:viewAction action="#{usuarioBean.iniciar}" />
		</f:metadata>
		<div class="ui-fluid">
			<p:panel header="Cadastro de usuário" styleClass="panel-formulario">
				<h:form id="frm-usuario">
					<p:focus for="usuario-nome"/>
					<p:panelGrid columns="2" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-1, ui-grid-col-7">
						<p:panelGrid>
							<h:outputLabel value="Código" for="codigo" />
							<p:inputText id="codigo" disabled="#{empty usuarioBean.usuario}" styleClass="somente-leitura" readonly="true" value="#{usuarioBean.usuario.pkusuario}" />
						</p:panelGrid>
						<p:panelGrid>
							<h:outputLabel value="Nome do usuário" for="usuario-nome" />
							<p:inputText id="usuario-nome"  onkeyup="maiusculo(this)" disabled="#{empty usuarioBean.usuario}" required="true" value="#{usuarioBean.usuario.nome}" />
						</p:panelGrid>
					</p:panelGrid>
					<p:panelGrid columns="4" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-2, ui-grid-col-2, ui-grid-col-2, ui-grid-col-2">
						<p:panelGrid>
							<h:outputLabel value="Login" for="usuario-login" />
							<p:inputText id="usuario-login" required="true" disabled="#{empty usuarioBean.usuario}" value="#{usuarioBean.usuario.login}"/>
						</p:panelGrid>
						<p:panelGrid>
							<h:outputLabel value="Senha" for="usuario-senha" />
							<p:password id="usuario-senha" disabled="#{empty usuarioBean.usuario}" redisplay="true" match="usuario-senha-confirmacao" feedback="true" inline="true" weakLabel="Fraca" goodLabel="Razoável" strongLabel="Excelente" promptLabel="Digite uma senha." required="true" value="#{usuarioBean.usuario.senha}" />
						</p:panelGrid>
						<p:panelGrid>
							<h:outputLabel value="Confirmar senha" for="usuario-senha-confirmacao" />
							<p:password id="usuario-senha-confirmacao" disabled="#{empty usuarioBean.usuario}" redisplay="true" feedback="true" inline="true" weakLabel="Fraca" goodLabel="Razoável" strongLabel="Excelente" promptLabel="Digite uma senha." required="true" value="#{usuarioBean.usuario.senha}"/>
						</p:panelGrid>
						<p:panelGrid>
							<h:outputLabel value="Tipo de Usuário" for="tipo-usuario" />
							<p:selectOneMenu id="tipo-usuario" value="#{usuarioBean.usuario.tipo}" rendered="#{not empty usuarioBean.usuario}" disabled="#{empty usuarioBean.usuario}">
								<f:selectItem itemLabel="Selecione"/>
								<f:selectItems value="#{usuarioBean.permissoes}" var="permissao"
								itemLabel="#{permissao.descricao}" itemValue="#{permissao}" />
							</p:selectOneMenu>
						</p:panelGrid>
					</p:panelGrid>
					<p:panelGrid columns="3" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-1, ui-grid-col-1, ui-grid-col-1">
						<p:commandButton value="Novo" action="#{usuarioBean.novo}" rendered="#{empty usuarioBean.usuario}" update="frm-usuario" resetValues="true" immediate="true" />
						<p:commandButton value="Salvar" action="#{usuarioBean.salvar}" icon="fa fa-save" rendered="#{not empty usuarioBean.usuario}" update="frm-usuario frm-localizar" />
						<p:commandButton value="Excluir" action="#{usuarioBean.remover}" 
							process="@this" icon="fa fa-remove" update="frm-usuario frm-localizar"
							disabled="#{empty usuarioBean.usuario.pkusuario}" >
							<p:confirm icon="ui-icon-alert" message="Tem certeza que deseja excluir o usuário?" />
						</p:commandButton>
						<p:commandButton value="Cancelar" action="#{usuarioBean.limpar}" icon="fa fa-refresh" disabled="#{empty usuarioBean.usuario}" immediate="true" />
					</p:panelGrid>
				</h:form>
				<p:separator/>
				<h:form id="frm-localizar">
					<p:panelGrid columns="3" layout="grid" id="pnl-pesquisa" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-5, ui-grid-col-1, ui-grid-col-6">
						<p:inputText id="nome-usuario" title="Pesquisa pelo nome do Usuário." onkeyup="maiusculo(this)" value="#{usuarioBean.nomeusuario}" placeholder="Descrição do Nome do Usuário" />
						<p:commandButton value="Pesquisar" action="#{usuarioBean.pesquisar}" icon="fa fa-search" update="frm-localizar" />
						<p:panelGrid columns="2" layout="grid" styleClass="panelgrid-noborder" style="float: right;">
							<p:commandLink title="Exportar para XLS" ajax="false" immediate="true" disabled="#{empty usuarioBean.usuarios}">
								<h:graphicImage library="img/png" name="xls.png" width="15" />
								<p:dataExporter type="xls" target="lista-de-usuarios" fileName="Relação de usuários"/>
							</p:commandLink>
							<p:commandLink title="Exporat para pdf" ajax="false" immediate="true" disabled="#{empty usuarioBean.usuarios}">
								<h:graphicImage library="img/png" name="pdf.png" width="15" />
			   					<p:dataExporter type="pdf" target="lista-de-usuarios" fileName="Relação de usuários" />
							</p:commandLink>
						</p:panelGrid>
					</p:panelGrid>
			  		<p:dataTable 
						value="#{usuarioBean.usuarios}" 
						id="lista-de-usuarios" 
						var="u"
						rows="10"
						emptyMessage="Nenhum registro satisfaz à pesquisa." 
			 			paginator="true" reflow="true"
			 			paginatorAlwaysVisible="false" 
			 			paginatorPosition="bottom"
			 			selection="#{usuarioBean.usuario}"
			 			selectionMode="single"
			 			rowKey="#{u.pkusuario}">		
			 				<p:ajax event="rowSelect" update="frm-usuario" />
			 				<p:ajax event="rowUnselect" update="frm-usuario" />
							<p:column headerText="Código" styleClass="coluna-codigo">
								<p:outputLabel value="#{u.pkusuario}"/>
							</p:column>
							<p:column headerText="Nome do usuário">
								<p:outputLabel value="#{u.nome}"/>
							</p:column>
							<p:column headerText="Login">
								<p:outputLabel value="#{u.login}"/>
							</p:column>
							<p:column headerText="Permissão" styleClass="coluna-cnpj">
								<p:outputLabel value="#{u.tipo.descricao}"/>
							</p:column>
					</p:dataTable>	
				</h:form>
			</p:panel>
		</div>
	</ui:define>
</ui:composition>