<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	<h:head>
		<meta charset="UTF-8" />
		<title>
			<ui:insert name="titulo">LMSystem - Estoque</ui:insert>
		</title>
		<h:outputStylesheet library="css" name="estilo.css" />
		<h:outputStylesheet library="css" name="bootstrap-min.css" />
		<h:outputScript library="js" name="app.js"/>
	</h:head>
	<h:body>
	<p:growl life="5000" autoUpdate="true" />
	<p:ajaxStatus onstart="PF('status').show();"  onsuccess="PF('status').hide()" />
	<p:dialog widgetVar="status" closable="false" resizable="false" >
		Por favor aguarde ...
	</p:dialog>
	<div class="ui-fluid ui-grid-responsive">
	 	<div class="ui-grid-row">
			<ui:insert name="cabecalho">
					<h:form id="barraDeFerramentas">
						<p:menubar style="padding: 0px;">
							<p:menuitem value="Dashboard" outcome="/paginas/principal" />
							<p:submenu label="Cadastros">
								<p:submenu label="Estoque">
									<p:menuitem value="Depósito" outcome="/paginas/cadastros/estoque/deposito" />
									<p:menuitem value="Grupo " outcome="/paginas/cadastros/estoque/grupo-produto" />
									<p:menuitem value="Produto" outcome="/paginas/cadastros/estoque/produto"/>
									<p:menuitem value="Subgrupo" outcome="/paginas/cadastros/estoque/subgrupo-produto" />
									<p:menuitem value="Tipo de pedido" outcome="/paginas/cadastros/estoque/tipo-pedido"/>
									<p:menuitem value="Unidade" outcome="/paginas/cadastros/estoque/unidade"/>
								</p:submenu>
								<p:submenu label="Garais">
									<p:menuitem value="Banco" outcome="/paginas/cadastros/gerais/banco" />
									<p:submenu label="Endereço">
										<p:menuitem value="Tipo de Logradouro" outcome="/paginas/cadastros/gerais/tipo-logradouro" />
										<p:menuitem value="Bairro" outcome="/paginas/cadastros/gerais/bairro" />
										<p:menuitem value="Município" outcome="/paginas/cadastros/gerais/municipio" />
										<p:menuitem value="UF" outcome="/paginas/cadastros/gerais/uf" />
										<p:menuitem value="País" outcome="/paginas/cadastros/gerais/pais" />
									</p:submenu>
									<p:submenu label="Pessoa">
										<p:menuitem value="Estado Civil" outcome="/paginas/cadastros/gerais/estado-civil" />
										<p:menuitem value="Etnia" outcome="/paginas/cadastros/gerais/etnia" />
										<p:menuitem value="Escolaridade" outcome="/paginas/cadastros/gerais/escolaridade" />
										<p:menuitem value="Nacionalidade" outcome="/paginas/cadastros/gerais/nacionalidade" />
										<p:menuitem value="Ocupação" outcome="/paginas/cadastros/gerais/ocupacao" />
										<p:menuitem value="RaçaCor" outcome="/paginas/cadastros/gerais/raca-cor" />
										<p:menuitem value="Sexo" outcome="/paginas/cadastros/gerais/sexo" />
										<p:menuitem value="Tipo de Documento" outcome="/paginas/cadastros/gerais/tipo-documento" />
									</p:submenu>
									<p:menuitem value="Operadora" outcome="/paginas/cadastros/gerais/operadora" />
								</p:submenu>
							<p:menuitem value="Empresa" outcome="/paginas/cadastros/empresa" />
							<p:menuitem value="Fornecedor" outcome="/paginas/cadastros/pessoajuridica"/>
							<p:menuitem value="Paciente" outcome="/paginas/cadastros/pessoafisica"/>
							<p:menuitem value="Setor" outcome="/paginas/cadastros/setor"/>
							<p:menuitem value="Usuário" rendered="#{usuario.podeAdministrar()}" outcome="/paginas/cadastros/usuario"/>
							</p:submenu>
							<p:submenu label="Atendimento">
								<p:menuitem value="BPA" />
								<p:menuitem value="AIH" />
								<p:menuitem value="APAC" />
							</p:submenu>
							<p:submenu label="Estoque">
								<p:menuitem value="Entrada" outcome="/paginas/estoque/entrada" />
								<p:menuitem value="Saida" outcome="/paginas/estoque/saida" />
								<p:menuitem value="Inventário" outcome="/paginas/estoque/inventario" />
							</p:submenu>
							<p:submenu label="Compras">
								<p:menuitem value="Mapa de cotação"/>
								<p:menuitem value="Pedido"/>
							</p:submenu>
							<p:menuitem value="Relatórios"/>
							<p:submenu style="float: right;" label="Olá #{usuario.nome}!">
								<p:menuitem value="Logout" action="#{autenticacao.encerrarSessao}" title="Sair do sistema!" />
							</p:submenu>
						</p:menubar>
					</h:form>
			</ui:insert>
			<ui:insert name="corpo"/>
			<ui:insert name="rodape">
					<div id="rodape" align="center">
						Todos os direitos reservados - 2016
					</div>
			</ui:insert>
		</div>
	</div>
	
	<h:form>
		<p:confirmDialog global="true">
			<p:commandButton value="Não" type="button"
				styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
				
				<p:commandButton value="Sim" type="button"
				styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
		</p:confirmDialog>
	</h:form>
	
	<script>
			PrimeFaces.locales['pt'] = {
				closeText : 'Fechar',
				prevText : 'Anterior',
				nextText : 'Próximo',
				currentText : 'Começo',
				monthNames : [ 'Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio',
						'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro',
						'Dezembro' ],
				monthNamesShort : [ 'Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul',
						'Ago', 'Set', 'Out', 'Nov', 'Dez' ],
				dayNames : [ 'Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta',
						'Sexta', 'Sábado' ],
				dayNamesShort : [ 'Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb' ],
				dayNamesMin : [ 'D', 'S', 'T', 'Q', 'Q', 'S', 'S' ],
				weekHeader : 'Semana',
				firstDay : 0,
				isRTL : false,
				showMonthAfterYear : false,
				yearSuffix : '',
				timeOnlyTitle : 'Só Horas',
				timeText : 'Tempo',
				hourText : 'Hora',
				minuteText : 'Minuto',
				secondText : 'Segundo',
				ampm : false,
				month : 'Mês',
				week : 'Semana',
				day : 'Dia',
				allDayText : 'Todo o Dia'
			};
			onkeydown="if(event.keyCode==13) event.keyCode=9;";
		</script>
	</h:body>
</html>