<!DOCTYPE html>
<ui:composition template="/WEB-INF/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<ui:define name="titulo">LMSystem - Cadastro de depósito</ui:define>
	<ui:define name="corpo">
		<f:metadata>
			<f:viewAction action="#{depositoBean.iniciar}"/>
		</f:metadata>
		<div class="ui-fluid">
			<p:panel header="Cadastro de Local de Armazenagem" styleClass="panel-formulario">
				<h:form id="frm-deposito">
					<p:focus for="deposito"/>
					<p:panelGrid columns="2" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-1, ui-grid-col-5">
						<p:panelGrid>
							<h:outputLabel value="Código" for="codigo" />
							<p:inputText id="codigo" value="#{depositoBean.deposito.pkdeposito}" disabled="#{empty depositoBean.deposito}" styleClass="somente-leitura" readonly="true" />
						</p:panelGrid>
						<p:panelGrid>
							<h:outputLabel value="Descrição do Depósito" for="deposito" />
							<p:inputText id="deposito" value="#{depositoBean.deposito.deposito}" onkeyup="maiusculo(this)" disabled="#{empty depositoBean.deposito}" required="true"/>
						</p:panelGrid>
					</p:panelGrid>
					<p:panelGrid columns="1" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-6">
						<p:outputLabel value="Depósito relacionado" for="deposito-relacionado" />
						<p:autoComplete id="deposito-relacionado"
								value="#{depositoBean.deposito.depositoBean}"
								title="Selecione o Depósito a relacionar." 
								disabled="#{empty depositoBean.deposito}"
								onkeyup="maiusculo(this)"
								var="deposito"
								itemValue="#{deposito}"
								itemLabel="#{deposito.deposito}" 
								completeMethod="#{depositoBean.listarDepositos}"
								minQueryLength="1"
								maxResults="100"
								queryDelay="1000"
								effect="blind"
								dropdownMode="current"
								forceSelection="true"
								scrollHeight="150"/>
					</p:panelGrid>
					<p:panelGrid columns="3" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-1, ui-grid-col-1, ui-grid-col-1">
						<p:commandButton value="Novo" action="#{depositoBean.novo}" rendered="#{empty depositoBean.deposito}" update="frm-deposito" />
						<p:commandButton value="Salvar" action="#{depositoBean.salvar}" icon="fa fa-save" rendered="#{not empty depositoBean.deposito}" update="frm-deposito frm-localizar" />
						<p:commandButton value="Excluir" onsuccess="PF('confirmacao').show()" icon="fa fa-remove" disabled="#{empty depositoBean.deposito.pkdeposito}" />
						<p:commandButton value="Cancelar" action="#{depositoBean.limpar}" icon="fa fa-refresh" disabled="#{empty depositoBean.deposito}" immediate="true" />
					</p:panelGrid>
				</h:form>
				<p:separator/>
				<h:form id="frm-localizar">
					<p:panelGrid columns="2" layout="grid" id="pnl-pesquisa" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-4, ui-grid-col-1">
						<p:inputText id="nome-deposito" title="Pesquisa pelo nome do depósito." onkeyup="maiusculo(this)" value="#{depositoBean.nomedeposito}" placeholder="Descrição do Depósito" />
						<p:commandButton value="Pesquisar" action="#{depositoBean.pesquisar}" icon="fa fa-search" update="frm-localizar" />
					</p:panelGrid>
					<p:dataTable 
						value="#{depositoBean.depositos}" 
						id="lista-de-depositos" 
						var="d"
						rows="10"
						emptyMessage="Nenhum registro satisfaz à pesquisa." 
			 			paginator="true" reflow="true"
			 			paginatorAlwaysVisible="false" 
			 			paginatorPosition="bottom"
			 			selection="#{depositoBean.deposito}"
			 			selectionMode="single"
			 			rowKey="#{d.pkdeposito}">
			 				<p:ajax event="rowDblselect" update="frm-deposito" />		 						 	
							<p:column headerText="Código" styleClass="coluna-codigo">
								<p:outputLabel value="#{d.pkdeposito}"/>
							</p:column>
							<p:column headerText="Depósito">
								<p:outputLabel value="#{d.deposito}"/>
							</p:column>
							<p:column headerText="Depósito relacionado">
								<p:outputLabel value="#{d.depositoBean.deposito}"/>
							</p:column>
					</p:dataTable>				
				</h:form>
				<p:confirmDialog widgetVar="confirmacao" closable="false" showEffect="fade" hideEffect="fade" severity="alert" message="Deseja excluir o registro?">
					<h:form>
						<p:panelGrid columns="2" layout="grid" columnClasses="ui-grid-col-6,ui-grid-col-6" styleClass="panelgrid-noborder">
							<p:panelGrid>
								<p:commandButton value="SIM" onclick="confirmacao.hide()" action="#{depositoBean.remover}" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" update="frm-deposito frm-localizar" resetValues="true" />
							</p:panelGrid>
							<p:panelGrid>
								<p:commandButton value="NÃO" onclick="confirmacao.hide()" styleClass="ui-confirmdialog-no" icon="ui-icon-close" update="frm-deposito frm-localizar" />
							</p:panelGrid>
						</p:panelGrid>
					</h:form>
				</p:confirmDialog>
			</p:panel>
		</div>
	</ui:define>
</ui:composition>