<!DOCTYPE html>
<ui:composition template="/WEB-INF/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<ui:define name="titulo">LMSystem - Cadastro de produtos</ui:define>
	<ui:define name="corpo">
		<f:metadata>
			<f:viewAction action="#{produtoBean.iniciar}" />
		</f:metadata>
		<p:panel header="cadastro de Produtos" styleClass="panel-formulario">
			<h:form id="frm-produto">
				<p:focus for="produto" />
				<p:panelGrid columns="2" layout="grid"
					styleClass="panelgrid-noborder"
					columnClasses="ui-grid-col-1, ui-grid-col-5">
					<p:panelGrid>
						<p:outputLabel value="Código" for="codigo" />
						<p:inputText id="codigo" value="#{produtoBean.produto.pkproduto}"
							disabled="#{empty produtoBean.produto}"
							styleClass="somente-leitura" readonly="true" />
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="Descrição do produto" for="produto" />
						<p:inputText id="produto" value="#{produtoBean.produto.produto}"
							onkeyup="maiusculo(this)" disabled="#{empty produtoBean.produto}"
							required="true" />
					</p:panelGrid>
				</p:panelGrid>
				<p:panelGrid columns="3" layout="grid"
					styleClass="panelgrid-noborder"
					columnClasses="ui-grid-col-3, ui-grid-col-2, ui-grid-col-1">
					<p:panelGrid>
						<p:outputLabel value="Subgrupo" for="produto-subgrupo" />
						<p:autoComplete id="produto-subgrupo"
							value="#{produtoBean.produto.subgrupoProduto}"
							title="Subgrupo de produtos"
							disabled="#{empty produtoBean.produto}" 
							onkeyup="maiusculo(this)"
							var="subgrupo" 
							itemValue="#{subgrupo}"
							itemLabel="#{subgrupo.subgrupo}"
							completeMethod="#{produtoBean.listarSubgrupoProdutos}"
							required="true" 
							requiredMessage="Preencher com o subgrupo"
							minQueryLength="1" 
							maxResults="100" 
							queryDelay="1000"
							effect="blind" 
							dropdownMode="current" 
							forceSelection="true"
							scrollHeight="150" />
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="Und. estoque" for="produto-unidade-estoque" />
						<p:autoComplete id="produto-unidade-estoque"
							title="Unidade de estoque"
							value="#{produtoBean.produto.unidadeProduto}"
							disabled="#{empty produtoBean.produto}" onkeyup="maiusculo(this)"
							var="unidade" itemValue="#{unidade}"
							itemLabel="#{unidade.unidade}"
							completeMethod="#{produtoBean.listarUnidadeProdutos}"
							required="true"
							requiredMessage="Preencher com a unidade de estoque"
							minQueryLength="1" maxResults="100" queryDelay="1000"
							effect="blind" dropdownMode="current" forceSelection="true"
							scrollHeight="150" />
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="Localização" for="produto-localizacao" />
						<p:inputText id="produto-localizacao" onkeyup="maiusculo(this)"
							disabled="#{empty produtoBean.produto}"
							value="#{produtoBean.produto.localizacao}" />
					</p:panelGrid>
				</p:panelGrid>
				<p:panelGrid columns="5" layout="grid"
					styleClass="panelgrid-noborder"
					columnClasses="ui-grid-col-1, ui-grid-col-1, ui-grid-col-1, ui-grid-col-1, ui-grid-col-2">
					<p:panelGrid>
						<p:outputLabel value="Est. mínimo" for="produto-estoque-minimo" />
						<p:inputText id="produto-estoque-minimo"
							disabled="#{empty produtoBean.produto}"
							value="#{produtoBean.produto.estoqueminimo}" />
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="Ressuprimento" for="produto-ressuprimento" />
						<p:inputText id="produto-ressuprimento"
							disabled="#{empty produtoBean.produto}"
							value="#{produtoBean.produto.ressuprimento}"
							required="true" />
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="Preço médio" for="produto-preco-medio" />
						<p:inputText id="produto-preco-medio"
							disabled="#{empty produtoBean.produto}"
							value="#{produtoBean.produto.precomedio}" />
					</p:panelGrid>
					<p:panelGrid>
						<h:outputLabel value="Último preço" for="produto-ultimo-preco" />
						<p:inputText id="produto-ultimo-preco"
							disabled="#{empty produtoBean.produto}"
							value="#{produtoBean.produto.ultimopreco}" />
					</p:panelGrid>
					<p:panelGrid>
						<h:outputLabel value="Saldo" for="produto-saldo" />
						<p:inputText id="produto-saldo"
							disabled="#{empty produtoBean.produto}"
							value="#{produtoBean.produto.ultimopreco}" />
					</p:panelGrid>
				</p:panelGrid>
				<p:panelGrid columns="3" layout="grid"
					styleClass="panelgrid-noborder"
					columnClasses="ui-grid-col-1, ui-grid-col-1, ui-grid-col-1">
					<p:commandButton value="Novo" action="#{produtoBean.novo}"
						rendered="#{empty produtoBean.produto}" update="frm-produto" />
					<p:commandButton value="Salvar" action="#{produtoBean.salvar}"
						icon="fa fa-save" rendered="#{not empty produtoBean.produto}"
						update="frm-produto frm-localizar" />
					<p:commandButton value="Excluir"
						onsuccess="PF('confirmacao').show()" icon="fa fa-remove"
						disabled="#{empty produtoBean.produto.pkproduto}" />
					<p:commandButton value="Cancelar" action="#{produtoBean.limpar}"
						icon="fa fa-refresh" disabled="#{empty produtoBean.produto}"
						immediate="true" />
				</p:panelGrid>
			</h:form>
			<p:separator />
			<h:form id="frm-localizar">
				<p:panelGrid columns="2" layout="grid" id="pnl-pesquisa"
					styleClass="panelgrid-noborder"
					columnClasses="ui-grid-col-4, ui-grid-col-1">
					<p:inputText id="nome-produto"
						title="Pesquisa pelo nome do produto." onkeyup="maiusculo(this)"
						value="#{produtoBean.nomeproduto}"
						placeholder="Descrição do Produto." />
					<p:commandButton value="Pesquisar"
						action="#{produtoBean.pesquisar}" icon="fa fa-search"
						update="frm-localizar" />
				</p:panelGrid>
				<p:dataTable value="#{produtoBean.produtos}" id="lista-de-produtos"
					var="p" rows="10"
					emptyMessage="Nenhum registro satisfaz à pesquisa."
					paginator="true" reflow="true" paginatorAlwaysVisible="false"
					paginatorPosition="bottom" selection="#{produtoBean.produto}"
					selectionMode="single" rowKey="#{p.pkproduto}">
					<p:ajax event="rowDblselect" update="frm-produto" />
					<p:column headerText="Código" styleClass="coluna-codigo">
						<p:outputLabel value="#{p.pkproduto}" />
					</p:column>
					<p:column headerText="Produto">
						<p:outputLabel value="#{p.produto}" />
					</p:column>
					<p:column headerText="Apres." styleClass="coluna-codigo">
						<p:outputLabel value="#{p.unidadeProduto.sigla}" />
					</p:column>
				</p:dataTable>
			</h:form>
			<p:confirmDialog widgetVar="confirmacao" closable="false"
				showEffect="fade" hideEffect="fade" severity="alert"
				message="Deseja excluir o registro?">
				<h:form>
					<p:panelGrid columns="2" layout="grid"
						columnClasses="ui-grid-col-6,ui-grid-col-6"
						styleClass="panelgrid-noborder">
						<p:panelGrid>
							<p:commandButton value="SIM" onclick="confirmacao.hide()"
								action="#{produtoBean.remover}"
								styleClass="ui-confirmdialog-yes" icon="ui-icon-check"
								update="frm-produto frm-localizar" resetValues="true" />
						</p:panelGrid>
						<p:panelGrid>
							<p:commandButton value="NÃO" onclick="confirmacao.hide()"
								styleClass="ui-confirmdialog-no" icon="ui-icon-close"
								update="frm-produto frm-localizar" />
						</p:panelGrid>
					</p:panelGrid>
				</h:form>
			</p:confirmDialog>
		</p:panel>
	</ui:define>
</ui:composition>