<!DOCTYPE html>
<ui:composition template="/WEB-INF/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<ui:define name="corpo">
		 <h:form>
		 	<p:panel rendered="#{usuario.podeVerGraficos()}">
				 <p:panelGrid columns="2" layout="grid" styleClass="panelgrid-noborder"  
							columnClasses="ui-grid-col-7, ui-grid-col-5">
		 		    <p:chart type="line" responsive="true" model="#{GraficoAreaMB.areaModel}" />
				    <p:chart type="bar" responsive="true" seriesColors="66cc66, 93b75f, E7E658, cc6666" model="#{chartView.combinedModel}"  />  
				 </p:panelGrid>
				 <p:panelGrid columns="2" layout="grid" styleClass="panelgrid-noborder"  
							columnClasses="ui-grid-col-9, ui-grid-col-3">
					<p:chart type="bar" model="#{chartView.barModel}" />
					<p:chart id="chart" type="pie" responsive="true" model="#{GraficoPizzaMB.pieModel1}" />						
				</p:panelGrid>
			 	<p:panelGrid columns="3" layout="grid" styleClass="panelgrid-noborder"  
						columnClasses="ui-grid-col-6, ui-grid-col-6">
			    			<p:chart type="line" responsive="true" model="#{GraficoLinhaMB.lineModel1}" />
			    			<p:chart type="bar" model="#{chartView.horizontalBarModel}" />					
				</p:panelGrid>
			</p:panel>
       </h:form>
	</ui:define>
</ui:composition>