<!DOCTYPE html>
<ui:composition template="/WEB-INF/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<ui:define name="titulo">LMSystem - Cadastro de Etnias</ui:define>
	<ui:define name="corpo">
		<f:metadata>
			<f:viewAction action="#{etniaBean.iniciar}" />
		</f:metadata>
		<div class="ui-fluid">
			<p:panel header="Cadastro de Etnia" styleClass="panel-formulario">
				<h:form id="frm-etnia">
					<p:focus for="etnia" />
					<p:panelGrid columns="3" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-1, ui-grid-col-4, ui-grid-col-1">
						<p:panelGrid>
							<p:outputLabel value="Código" for="codigo" />
							<p:inputText id="codigo" value="#{etniaBean.etnia.pketnia}" styleClass="somente-leitura" readonly="true" disabled="#{empty etniaBean.etnia}"/>
						</p:panelGrid>
						<p:panelGrid>
							<p:outputLabel value="Descrição da etnia" for="etnia" />
							<p:inputText id="etnia" required="true" onkeyup="maiusculo(this)" disabled="#{empty etniaBean.etnia}" value="#{etniaBean.etnia.etnia}"/>
						</p:panelGrid>
						<p:panelGrid>
							<p:outputLabel value="CódEtnia" for="codetnia" />
							<p:inputText id="codetnia" value="#{etniaBean.etnia.codetnia}" required="true"  disabled="#{empty etniaBean.etnia}" />
						</p:panelGrid>
					</p:panelGrid>
					<p:panelGrid columns="3" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-1, ui-grid-col-1, ui-grid-col-1">
						<p:commandButton value="Novo" action="#{etniaBean.novo}" rendered="#{empty etniaBean.etnia}" update="frm-etnia" />
						<p:commandButton value="Salvar" action="#{etniaBean.salvar}" icon="fa fa-save" rendered="#{not empty etniaBean.etnia}" update="frm-etnia frm-localizar" />
						<p:commandButton value="Excluir" onsuccess="PF('confirmacao').show()" icon="fa fa-remove" disabled="#{empty etniaBean.etnia.pketnia}" />
						<p:commandButton value="Cancelar" action="#{etniaBean.limpar}" icon="fa fa-refresh" disabled="#{empty etniaBean.etnia}" immediate="true" />
					</p:panelGrid>
				</h:form>
				<p:separator />
				<h:form id="frm-localizar">
					<p:panelGrid columns="2" layout="grid" id="pnl-pesquisa" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-5, ui-grid-col-1">
						<p:inputText id="nome-etnia" title="Pesquisa pelo nome da etnia." onkeyup="maiusculo(this)" value="#{etniaBean.nomeEtnia}" placeholder="Descrição da etnia" />
						<p:commandButton value="Pesquisar" action="#{etniaBean.pesquisar}" icon="fa fa-search" update="frm-localizar" />
					</p:panelGrid>
					<p:dataTable 
						value="#{etniaBean.etnias}" 
						id="lista-de-etnias" 
						var="e" 
						rows="10"
						emptyMessage="Nenhum registro satisfaz à pesquisa." 
						paginator="true" reflow="true" 
						paginatorAlwaysVisible="false" 
						paginatorPosition="bottom" 
						selection="#{etniaBean.etnia}" 
						selectionMode="single" 
						rowKey="#{e.pketnia}">
						<p:ajax event="rowDblselect" update="frm-etnia" />	
						<p:column headerText="Código" styleClass="coluna-codigo">
							<p:outputLabel value="#{e.pketnia}" />
						</p:column>
						<p:column headerText="Etnia">
							<p:outputLabel value="#{e.etnia}" />
						</p:column>
						<p:column headerText="CódEtnia" styleClass="coluna-codigo">
							<p:outputLabel value="#{e.codetnia}" />
						</p:column>
					</p:dataTable>
				</h:form>
				<p:confirmDialog widgetVar="confirmacao" closable="false" showEffect="fade" hideEffect="fade" severity="alert" message="Deseja excluir o registro?">
					<h:form>
						<p:panelGrid columns="2" layout="grid" columnClasses="ui-grid-col-6,ui-grid-col-6" styleClass="panelgrid-noborder">
							<p:panelGrid>
								<p:commandButton value="SIM" onclick="confirmacao.hide()" action="#{etniaBean.remover}" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" update="frm-etnia frm-localizar" resetValues="true" />
							</p:panelGrid>
							<p:panelGrid>
								<p:commandButton value="NÃO" onclick="confirmacao.hide()" styleClass="ui-confirmdialog-no" icon="ui-icon-close" update="frm-etnia frm-localizar" />
							</p:panelGrid>
						</p:panelGrid>
					</h:form>
				</p:confirmDialog>
			</p:panel>
		</div>
	</ui:define>
</ui:composition>