<!DOCTYPE html>
<ui:composition template="/WEB-INF/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<ui:define name="titulo">LMSystem - Cadastro de Operadoras de telefonia</ui:define>
	<ui:define name="corpo">
		<f:metadata>
			<f:viewAction action="#{operadoraBean.iniciar}" />
		</f:metadata>
		<div class="ui-fluid">
			<p:panel header="Cadastro de Operadora de Telefonia" styleClass="panel-formulario">
				<h:form id="frm-operadora">
					<p:focus for="operadora" />
					<p:panelGrid columns="3" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-1, ui-grid-col-4, ui-grid-col-1">
						<p:panelGrid>
							<p:outputLabel value="Código" for="codigo" />
							<p:inputText styleClass="somente-leitura" disabled="#{empty operadoraBean.operadora}" readonly="true" id="codigo" value="#{operadoraBean.operadora.pkoperadora}"/>
						</p:panelGrid>
						<p:panelGrid>
							<p:outputLabel value="Descrição da operadora" for="operadora" />
							<p:inputText id="operadora" required="true" onkeyup="maiusculo(this)" disabled="#{empty operadoraBean.operadora}" value="#{operadoraBean.operadora.operadora}"/>
						</p:panelGrid>
						<p:panelGrid>
							<p:outputLabel value="CódOperadora" for="codoperadora" />
							<p:inputText id="codoperadora" required="true" onkeyup="maiusculo(this)" disabled="#{empty operadoraBean.operadora}" value="#{operadoraBean.operadora.codoperadora}"/>
						</p:panelGrid>
					</p:panelGrid>
					<p:panelGrid columns="3" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-1, ui-grid-col-1, ui-grid-col-1">
						<p:commandButton value="Novo" action="#{operadoraBean.novo}" rendered="#{empty operadoraBean.operadora}" update="frm-operadora" />
						<p:commandButton value="Salvar" action="#{operadoraBean.salvar}" icon="fa fa-save" rendered="#{not empty operadoraBean.operadora}" update="frm-operadora frm-localizar" />
						<p:commandButton value="Excluir" onsuccess="PF('confirmacao').show()" icon="fa fa-remove" disabled="#{empty operadoraBean.operadora.pkoperadora}" />
						<p:commandButton value="Cancelar" action="#{operadoraBean.limpar}" icon="fa fa-refresh" disabled="#{empty operadoraBean.operadora}" immediate="true" />
					</p:panelGrid>
				</h:form>
				<p:separator />
				<h:form id="frm-localizar">
					<p:panelGrid columns="2" layout="grid" id="pnl-pesquisa" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-4, ui-grid-col-1">
						<p:inputText id="nome-operadora" title="Pesquisa pelo nome da operadora." onkeyup="maiusculo(this)" value="#{operadoraBean.nomeOperadora}" placeholder="Descrição da operadora" />
						<p:commandButton value="Pesquisar" action="#{operadoraBean.pesquisar}" icon="fa fa-search" update="frm-localizar" />
					</p:panelGrid>
					<p:dataTable 
						value="#{operadoraBean.operadoras}" 
						id="lista-de-operadoras" 
						var="op" 
						rows="10"
						emptyMessage="Nenhum registro satisfaz à pesquisa." 
						paginator="true" reflow="true" 
						paginatorAlwaysVisible="false" 
						paginatorPosition="bottom" 
						selection="#{operadoraBean.operadora}" 
						selectionMode="single" 
						rowKey="#{op.pkoperadora}">
						<p:ajax event="rowDblselect" update="frm-operadora" />	
						<p:column headerText="Código" styleClass="coluna-codigo">
							<p:outputLabel value="#{op.pkoperadora}" />
						</p:column>
						<p:column headerText="Operadora">
							<p:outputLabel value="#{op.operadora}" />
						</p:column>
						<p:column headerText="CódOperadora" styleClass="coluna-codigo">
							<p:outputLabel value="#{op.codoperadora}" />
						</p:column>
					</p:dataTable>
				</h:form>
				<p:confirmDialog widgetVar="confirmacao" closable="false" showEffect="fade" hideEffect="fade" severity="alert" message="Deseja excluir o registro?">
					<h:form>
						<p:panelGrid columns="2" layout="grid" columnClasses="ui-grid-col-6,ui-grid-col-6" styleClass="panelgrid-noborder">
							<p:panelGrid>
								<p:commandButton value="SIM" onclick="confirmacao.hide()" action="#{operadoraBean.remover}" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" update="frm-operadora frm-localizar" resetValues="true" />
							</p:panelGrid>
							<p:panelGrid>
								<p:commandButton value="NÃO" onclick="confirmacao.hide()" styleClass="ui-confirmdialog-no" icon="ui-icon-close" update="frm-operadora frm-localizar" />
							</p:panelGrid>
						</p:panelGrid>
					</h:form>
				</p:confirmDialog>
			</p:panel>
		</div>
	</ui:define>
</ui:composition>