<!DOCTYPE html>
<ui:composition template="/WEB-INF/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<ui:define name="titulo">LMSystem - Cadastro de Tipo de Logradouro</ui:define>
	<ui:define name="corpo">
		<f:metadata>
			<f:viewAction action="#{tipoLogradouroBean.iniciar}" />
		</f:metadata>
		<div class="ui-fluid">
			<p:panel header="Cadastro de Tipo de Logradouro" styleClass="panel-formulario">
				<h:form id="frm-tipo-logradouro">
					<p:focus for="tipo-logradouro" />
					<p:panelGrid columns="3" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-1, ui-grid-col-4, ui-grid-col-2">
						<p:panelGrid>
							<p:outputLabel value="Código" for="codigo" />
							<p:inputText styleClass="somente-leitura" disabled="#{empty tipoLogradouroBean.tipoLogradouro}" readonly="true" id="codigo" value="#{tipoLogradouroBean.tipoLogradouro.pktipologradouro}"/>
						</p:panelGrid>
						<p:panelGrid>
							<p:outputLabel value="Descrição do Tipo de Logradouro" for="tipo-logradouro" />
							<p:inputText id="tipo-logradouro" required="true" onkeyup="maiusculo(this)" disabled="#{empty tipoLogradouroBean.tipoLogradouro}" value="#{tipoLogradouroBean.tipoLogradouro.tipologradouro}"/>
						</p:panelGrid>
						<p:panelGrid>
							<p:outputLabel value="Código TipoLogr." for="codigo-logradouro" />
							<p:inputText id="codigo-logradouro" required="true" onkeyup="maiusculo(this)" disabled="#{empty tipoLogradouroBean.tipoLogradouro}" value="#{tipoLogradouroBean.tipoLogradouro.codtipologradouro}"/>
						</p:panelGrid>
					</p:panelGrid>
					<p:panelGrid columns="3" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-1, ui-grid-col-1, ui-grid-col-1">
						<p:commandButton value="Novo" action="#{tipoLogradouroBean.novo}"	rendered="#{empty tipoLogradouroBean.tipoLogradouro}" update="frm-tipo-logradouro" />
						<p:commandButton value="Salvar" action="#{tipoLogradouroBean.salvar}" icon="fa fa-save" rendered="#{not empty tipoLogradouroBean.tipoLogradouro}" update="frm-tipo-logradouro frm-localizar" />
						<p:commandButton value="Excluir" onsuccess="PF('confirmacao').show()" icon="fa fa-remove" disabled="#{empty tipoLogradouroBean.tipoLogradouro.pktipologradouro}" />
						<p:commandButton value="Cancelar" action="#{tipoLogradouroBean.limpar}" icon="fa fa-refresh" disabled="#{empty tipoLogradouroBean.tipoLogradouro}" immediate="true" />
					</p:panelGrid>
				</h:form>
				<p:separator />
				<h:form id="frm-localizar">
					<p:panelGrid columns="2" layout="grid" id="pnl-pesquisa" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-4, ui-grid-col-1">
						<p:inputText id="nome-tipo-logradouro" title="Pesquisa pelo nome do Tipo de Logradouro." onkeyup="maiusculo(this)" value="#{tipoLogradouroBean.nomeTipoLogradouro}" placeholder="Descrição do Tipo de Logradouro" />
						<p:commandButton value="Pesquisar" action="#{tipoLogradouroBean.pesquisar}" icon="fa fa-search" update="frm-localizar" />
					</p:panelGrid>
					<p:dataTable 
						value="#{tipoLogradouroBean.tipoLogradouros}" 
						id="lista-de-tipos-de-logradouro" 
						var="tipoLogradouro" 
						rows="10"
						emptyMessage="Nenhum registro satisfaz à pesquisa." 
						paginator="true" reflow="true" 
						paginatorAlwaysVisible="false" 
						paginatorPosition="bottom" 
						selection="#{tipoLogradouroBean.tipoLogradouro}" 
						selectionMode="single" 
						rowKey="#{tipoLogradouro.pktipologradouro}">
						<p:ajax event="rowDblselect" update="frm-tipo-logradouro" />	
						<p:column headerText="Código" styleClass="coluna-codigo">
							<p:outputLabel value="#{tipoLogradouro.pktipologradouro}" />
						</p:column>
						<p:column headerText="Tipo de Logradouro">
							<p:outputLabel value="#{tipoLogradouro.tipologradouro}" />
						</p:column>
						<p:column headerText="Cód Tipo" styleClass="coluna-cpf">
							<p:outputLabel value="#{tipoLogradouro.codtipologradouro}" />
						</p:column>
					</p:dataTable>
				</h:form>
				<p:confirmDialog widgetVar="confirmacao" closable="false" showEffect="fade" hideEffect="fade" severity="alert" message="Deseja excluir o registro?">
					<h:form>
						<p:panelGrid columns="2" layout="grid" columnClasses="ui-grid-col-6,ui-grid-col-6" styleClass="panelgrid-noborder">
							<p:panelGrid>
								<p:commandButton value="SIM" onclick="confirmacao.hide()" action="#{tipoLogradouroBean.remover}" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" update="frm-tipo-logradouro frm-localizar" resetValues="true" />
							</p:panelGrid>
							<p:panelGrid>
								<p:commandButton value="NÃO" onclick="confirmacao.hide()" styleClass="ui-confirmdialog-no" icon="ui-icon-close" update="frm-tipo-logradouro frm-localizar" />
							</p:panelGrid>
						</p:panelGrid>
					</h:form>
				</p:confirmDialog>
			</p:panel>
		</div>
	</ui:define>
</ui:composition>