<!DOCTYPE html>
<ui:composition template="/WEB-INF/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<ui:define name="titulo">LMSystem - Cadastro de Documento</ui:define>
	<ui:define name="corpo">
		<f:metadata>
			<f:viewAction action="#{tipoDocumentoBean.iniciar}" />
		</f:metadata>
		<div class="ui-fluid">
			<p:panel header="Cadastro de Tipo de Documento" styleClass="panel-formulario">
				<h:form id="frm-tipo-documento">
					<p:focus for="tipo-documento" />
					<p:panelGrid columns="3" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-1, ui-grid-col-4, ui-grid-col-1">
						<p:panelGrid>
							<p:outputLabel value="Código" for="codigo" />
							<p:inputText styleClass="somente-leitura" disabled="#{empty tipoDocumentoBean.tipoDocumento}" readonly="true" id="codigo" value="#{tipoDocumentoBean.tipoDocumento.pktipodocumento}"/>
						</p:panelGrid>
						<p:panelGrid>
							<p:outputLabel value="Descrição do Tipo de Documento" for="tipo-documento" />
							<p:inputText id="tipo-documento" required="true" onkeyup="maiusculo(this)" disabled="#{empty tipoDocumentoBean.tipoDocumento}" value="#{tipoDocumentoBean.tipoDocumento.tipodocumento}"/>
						</p:panelGrid>
						<p:panelGrid>
							<p:outputLabel value="Sigla" for="tipo-documento-sigla" />
							<p:inputText id="tipo-documento-sigla" onkeyup="maiusculo(this)" disabled="#{empty tipoDocumentoBean.tipoDocumento}" value="#{tipoDocumentoBean.tipoDocumento.siglatipodocumento}"/>
						</p:panelGrid>
					</p:panelGrid>
					<p:panelGrid columns="3" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-1, ui-grid-col-1, ui-grid-col-1">
						<p:commandButton value="Novo" action="#{tipoDocumentoBean.novo}"	rendered="#{empty tipoDocumentoBean.tipoDocumento}" update="frm-tipo-documento" />
						<p:commandButton value="Salvar" action="#{tipoDocumentoBean.salvar}" icon="fa fa-save" rendered="#{not empty tipoDocumentoBean.tipoDocumento}" update="frm-tipo-documento frm-localizar" />
						<p:commandButton value="Excluir" onsuccess="PF('confirmacao').show()" icon="fa fa-remove" disabled="#{empty tipoDocumentoBean.tipoDocumento.pktipodocumento}" />
						<p:commandButton value="Cancelar" action="#{tipoDocumentoBean.limpar}" icon="fa fa-refresh" disabled="#{empty tipoDocumentoBean.tipoDocumento}" immediate="true" />
					</p:panelGrid>
				</h:form>
				<p:separator />
				<h:form id="frm-localizar">
					<p:panelGrid columns="2" layout="grid" id="pnl-pesquisa" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-4, ui-grid-col-1">
						<p:inputText id="nome-tipo-documento" title="Pesquisa pelo nome do Tipo de Documento." onkeyup="maiusculo(this)" value="#{tipoDocumentoBean.nomeTipoDocumento}" placeholder="Descrição do Tipo de Documento" />
						<p:commandButton value="Pesquisar" action="#{tipoDocumentoBean.pesquisar}" icon="fa fa-search" update="frm-localizar" />
					</p:panelGrid>
					<p:dataTable 
						value="#{tipoDocumentoBean.tipoDocumentos}" 
						id="lista-de-tipo-de-documentos" 
						var="tipodocumento" 
						rows="10"
						emptyMessage="Nenhum registro satisfaz à pesquisa." 
						paginator="true" reflow="true" 
						paginatorAlwaysVisible="false" 
						paginatorPosition="bottom" 
						selection="#{tipoDocumentoBean.tipoDocumento}" 
						selectionMode="single" 
						rowKey="#{tipodocumento.pktipodocumento}">
						<p:ajax event="rowDblselect" update="frm-tipo-documento" />	
						<p:column headerText="Código" styleClass="coluna-codigo">
							<p:outputLabel value="#{tipodocumento.pktipodocumento}" />
						</p:column>
						<p:column headerText="Tipo de Documento">
							<p:outputLabel value="#{tipodocumento.tipodocumento}" />
						</p:column>
						<p:column headerText="Sigla" styleClass="coluna-codigo">
							<p:outputLabel value="#{tipodocumento.siglatipodocumento}" />
						</p:column>
					</p:dataTable>
				</h:form>
				<p:confirmDialog widgetVar="confirmacao" closable="false" showEffect="fade" hideEffect="fade" severity="alert" message="Deseja excluir o registro?">
					<h:form>
						<p:panelGrid columns="2" layout="grid" columnClasses="ui-grid-col-6,ui-grid-col-6" styleClass="panelgrid-noborder">
							<p:panelGrid>
								<p:commandButton value="SIM" onclick="confirmacao.hide()" action="#{tipoDocumentoBean.remover}" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" update="frm-tipo-documento frm-localizar" resetValues="true" />
							</p:panelGrid>
							<p:panelGrid>
								<p:commandButton value="NÃO" onclick="confirmacao.hide()" styleClass="ui-confirmdialog-no" icon="ui-icon-close" update="frm-tipo-documento frm-localizar" />
							</p:panelGrid>
						</p:panelGrid>
					</h:form>
				</p:confirmDialog>
			</p:panel>
		</div>
	</ui:define>
</ui:composition>