<!DOCTYPE html>
<ui:composition template="/WEB-INF/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<ui:define name="titulo">LMSystem - Cadastro de pessoas</ui:define>
	<ui:define name="corpo">
		<f:metadata>
			<f:viewAction action="#{pessoaFisicaBean.iniciar}" />
		</f:metadata>
		<p:panel header="Cadastro de pessoa" styleClass="panel-formulario">
			<h:form id="frm-pessoafisica">
				<p:focus for="nome" />
				<p:panelGrid columns="4" 
					layout="grid"
					styleClass="panelgrid-noborder"  
					columnClasses="ui-grid-col-1, ui-grid-col-9, ui-grid-col-1, ui-grid-col-1">
					<p:panelGrid>
						<p:outputLabel value="Código" for="codigo" />
						<p:inputText styleClass="somente-leitura" readonly="true" id="codigo" disabled="#{empty pessoaFisicaBean.pessoaFisica}" value="#{pessoaFisicaBean.pessoaFisica.pkpessoafisica}" />
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="Nome" for="nome" />
						<p:inputText label="Nome" id="nome"	disabled="#{empty pessoaFisicaBean.pessoaFisica}" required="true" styleClass="text-uppercase" onkeyup="maiusculo(this)" value="#{pessoaFisicaBean.pessoaFisica.nome}" />
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="Nascimento" for="dtnasc" />
						<p:calendar id="dtnasc"
							disabled="#{empty pessoaFisicaBean.pessoaFisica}"
							locale="#{usuario.locale}" required="true" navigator="true" mask="true"
							value="#{pessoaFisicaBean.pessoaFisica.datanascimento}" />
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="Idade" for="idade" />
						<p:inputText id="idade"
							disabled="#{empty pessoaFisicaBean.pessoaFisica.datanascimento}" />
					</p:panelGrid>
				</p:panelGrid>
				<p:panelGrid columns="5" 
					layout="grid"
					styleClass="panelgrid-noborder"  
					columnClasses="ui-grid-col-2, ui-grid-col-2, ui-grid-col-3, ui-grid-col-3, ui-grid-col-2">
					<p:panelGrid>
						<p:outputLabel value="Sexo" for="sexo" />
						<p:autoComplete id="sexo"
							value="#{pessoaFisicaBean.pessoaFisica.sexo}"
							title="Selecione o sexo da pessoa."
							disabled="#{empty pessoaFisicaBean.pessoaFisica}"
							required="true"
							var="sexo"
							itemLabel="#{sexo.sexo}" 
							itemValue="#{sexo}"
							completeMethod="#{pessoaFisicaBean.listarSexos}"
							minQueryLength="1"
							maxResults="100"
							queryDelay="1000"
							effect="blind"
							dropdownMode="current"
							forceSelection="true"
							scrollHeight="150"/>
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="RaçaCor" for="racacor"/>
						<p:autoComplete id="racacor"
							value="#{pessoaFisicaBean.pessoaFisica.racaCor}"
							title="Selecione a RaçaCor da pessoa."
							disabled="#{empty pessoaFisicaBean.pessoaFisica}"
							required="true"
							var="racacor"
							itemLabel="#{racacor.racacor}" 
							itemValue="#{racacor}"
							completeMethod="#{pessoaFisicaBean.listarRacasCor}"
							minQueryLength="1"
							maxResults="100"
							queryDelay="1000"
							effect="blind"
							dropdownMode="current"
							forceSelection="true"
							scrollHeight="150">
								<p:ajax event="blur" update="etnia"/>
							</p:autoComplete>
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="Etnia" for="etnia" />
						<p:autoComplete id="etnia"
							value="#{pessoaFisicaBean.pessoaFisica.etnia}"
							title="Selecione a Etnia do Indígena."
							required="#{pessoaFisicaBean.pessoaFisica.racaCor.codracacor == 5}"
							disabled="#{pessoaFisicaBean.pessoaFisica.racaCor.codracacor != 5}"
							var="etnia"
							itemLabel="#{etnia.etnia}" 
							itemValue="#{etnia}"
							completeMethod="#{pessoaFisicaBean.listarEtnias}"
							minQueryLength="1"
							maxResults="100"
							queryDelay="1000"
							effect="blind"
							dropdownMode="current"
							forceSelection="true"
							scrollHeight="150"/>
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel 
							value="Naturalidade" 
							for="naturalidade" />
							<p:autoComplete id="naturalidade"
								value="#{pessoaFisicaBean.pessoaFisica.municipio}"
								title="Selecione a naturalidade da pessoa."
								disabled="#{empty pessoaFisicaBean.pessoaFisica}"
								var="naturalidade"
								itemLabel="#{naturalidade.municipio} #{naturalidade.uf.sigla}" 
								itemValue="#{naturalidade}"
								completeMethod="#{pessoaFisicaBean.listarMunicipios}"
								minQueryLength="1"
								maxResults="100"
								queryDelay="1000"
								effect="blind"
								dropdownMode="current"
								forceSelection="true"
								scrollHeight="150"/>
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="Nacionalidade" for="nacionalidade" />
						<p:autoComplete id="nacionalidade"
							value="#{pessoaFisicaBean.pessoaFisica.nacionalidade}"
							title="Selecione a nacionalidade da pessoa."
							disabled="#{empty pessoaFisicaBean.pessoaFisica}"
							var="nacionalidade"
							itemLabel="#{nacionalidade.nacionalidade}" 
							itemValue="#{nacionalidade}"
							completeMethod="#{pessoaFisicaBean.listarNacionalidades}"
							minQueryLength="1"
							maxResults="100"
							queryDelay="1000"
							effect="blind"
							dropdownMode="current"
							forceSelection="true"
							scrollHeight="150"/>		
					</p:panelGrid>
				</p:panelGrid>
				<p:panelGrid columns="5"
					layout="grid"
					styleClass="panelgrid-noborder"  
					columnClasses="ui-grid-col-2, ui-grid-col-2, ui-grid-col-2, ui-grid-col-3, ui-grid-col-3">
					<p:panelGrid>
						<p:outputLabel value="CPF" for="cpf" />
						<p:inputMask id="cpf" mask="999.999.999-99" converter="converterInput"
							disabled="#{empty pessoaFisicaBean.pessoaFisica}" value="#{pessoaFisicaBean.pessoaFisica.cpf}" />
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="CNS" for="cns" />
						<p:inputMask id="cns" mask="999999999999999" converter="converterInput"
							disabled="#{empty pessoaFisicaBean.pessoaFisica}" value="#{pessoaFisicaBean.pessoaFisica.cns}" />
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="Celular" for="celular" />
						<p:inputMask id="celular" mask="(99) 99999-9999" converter="converterInput"
							disabled="#{empty pessoaFisicaBean.pessoaFisica}" value="#{pessoaFisicaBean.pessoaFisica.contato.celular1}" />
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="email" for="email" />
						<p:inputText id="email"  disabled="#{empty pessoaFisicaBean.pessoaFisica}" 
							onkeyup="minusculo(this)"
							value="#{pessoaFisicaBean.pessoaFisica.contato.email}" />
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="Nome da Mãe" for="mae" />
						<p:inputText label="Mae" id="mae"
							disabled="#{empty pessoaFisicaBean.pessoaFisica}"
							required="true"
							onkeyup="maiusculo(this)"
							value="#{pessoaFisicaBean.pessoaFisica.mae}" />
					</p:panelGrid>
				</p:panelGrid>
				<p:panelGrid 
					columns="7"
					layout="grid"
					styleClass="panelgrid-noborder"  
					columnClasses="ui-grid-col-1, ui-grid-col-2, ui-grid-col-1, ui-grid-col-3, ui-grid-col-1, ui-grid-col-2, ui-grid-col-2">
 					<p:panelGrid>
	 					<p:outputLabel value="CEP" for="cep" />
						<p:inputText id="cep" value="#{pessoaFisicaBean.pessoaFisica.endereco.cep}" disabled="#{empty pessoaFisicaBean.pessoaFisica}">
							<p:ajax event="blur" listener="#{pessoaFisicaBean.buscarCEP}" update="municipio endereco bairro"/>
						</p:inputText>
 					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="Município" for="municipio" />
						<p:autoComplete id="municipio"
								value="#{pessoaFisicaBean.pessoaFisica.endereco.municipio}"
								title="Selecione o Município do endereço da pessoa." 
								disabled="#{empty pessoaFisicaBean.pessoaFisica}"
								var="municipio"
								itemValue="#{municipio}"
								itemLabel="#{municipio.municipio} #{municipio.uf.sigla}" 
								completeMethod="#{pessoaFisicaBean.listarMunicipios}"
								minQueryLength="1"
								maxResults="100"
								queryDelay="1000"
								effect="blind"
								dropdownMode="current"
								forceSelection="true"
								scrollHeight="150"/>
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="Logradouro" for="tipologradouro" />
						<p:autoComplete id="tipologradouro"
							value="#{pessoaFisicaBean.pessoaFisica.endereco.tipoLogradouro}"
							title="Selecione o Tipo de Logradouro do endereço da pessoa."
							disabled="#{empty pessoaFisicaBean.pessoaFisica}" 
							var="tipologradouro"
							itemValue="#{tipologradouro}"
							itemLabel="#{tipologradouro.tipologradouro}" 
							completeMethod="#{pessoaFisicaBean.listarTiposLogradouro}"
							minQueryLength="1"
							maxResults="100"
							queryDelay="1000"
							effect="blind"
							dropdownMode="current"
							forceSelection="true"
							scrollHeight="150"/>		
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="Endereço" for="endereco" />
						<p:inputText id="endereco"  disabled="#{empty pessoaFisicaBean.pessoaFisica}" 
							onkeyup="maiusculo(this)"
							value="#{pessoaFisicaBean.pessoaFisica.endereco.endereco}" />
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="Nº" for="numero" />
						<p:inputText id="numero"  disabled="#{empty pessoaFisicaBean.pessoaFisica}" 
							onkeyup="maiusculo(this)"
							value="#{pessoaFisicaBean.pessoaFisica.endereco.numero}" />
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="Complemento" for="complemento" />
						<p:inputText id="complemento"  disabled="#{empty pessoaFisicaBean.pessoaFisica}" 
							onkeyup="maiusculo(this)"
							value="#{pessoaFisicaBean.pessoaFisica.endereco.complemento}" />
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="Bairro" for="bairro" />
						<p:autoComplete id="bairro"
							value="#{pessoaFisicaBean.pessoaFisica.endereco.bairro}"
							title="Selecione o bairro do endereço da pessoa."
							disabled="#{empty pessoaFisicaBean.pessoaFisica}" 
							var="bairro"
							itemValue="#{bairro}"
							itemLabel="#{bairro.bairro}" 
							completeMethod="#{pessoaFisicaBean.listarBairros}"
							minQueryLength="1"
							maxResults="100"
							queryDelay="1000"
							effect="blind"
							dropdownMode="current"
							forceSelection="true"
							scrollHeight="150"/>
					</p:panelGrid>
				</p:panelGrid>
				<p:panelGrid  columns="3" layout="grid" styleClass="panelgrid-noborder" columnClasses="ui-grid-col-1, ui-grid-col-1, ui-grid-col-1">
					<p:commandButton value="Novo" action="#{pessoaFisicaBean.novo}" rendered="#{empty pessoaFisicaBean.pessoaFisica}" update="frm-pessoafisica" />
					<p:commandButton value="Salvar" action="#{pessoaFisicaBean.salvar}" icon="fa fa-save" rendered="#{not empty pessoaFisicaBean.pessoaFisica}" update="frm-pessoafisica frm-localizar" />
					<p:commandButton value="Excluir" onsuccess="PF('confirmacao').show()" icon="fa fa-remove" disabled="#{empty pessoaFisicaBean.pessoaFisica.pkpessoafisica}" />
					<p:commandButton value="Cancelar" icon="fa fa-refresh" action="#{pessoaFisicaBean.limpar}" disabled="#{empty pessoaFisicaBean.pessoaFisica}" immediate="true" />
				</p:panelGrid>
			</h:form>
			<p:separator />
			<h:form id="frm-localizar">
				<p:panelGrid 
					id="pnl-pesquisa"
					columns="2" 
					layout="grid"
					styleClass="panelgrid-noborder"  
					columnClasses="ui-grid-col-4, ui-grid-col-1">
					<p:inputText id="nome-unidade" value="#{pessoaFisicaBean.nomePessoa}" 
						onkeyup="maiusculo(this)" title="Pesquisa pelo nome." styleClass="text-uppercase"
						placeholder="Pesquisar pelo nome" />
					<p:commandButton value="Pesquisar" action="#{pessoaFisicaBean.pesquisar}"
						icon="fa fa-search" update="frm-pessoafisica frm-localizar" />
				</p:panelGrid>
				<p:dataTable 
					value="#{pessoaFisicaBean.pessoasFisica}" id="lista-pessoas" 
					var="p" rows="5" paginator="true" reflow="true"
					paginatorAlwaysVisible="false" paginatorPosition="bottom"
					emptyMessage="Nenhum registro satisfaz à pesquisa."
					selection="#{pessoaFisicaBean.pessoaFisica}"
					selectionMode="single" rowKey="#{p.pkpessoafisica}">
					<p:ajax event="rowDblselect" update="frm-pessoafisica" />
					<p:column headerText="Código" styleClass="coluna-codigo">
						<p:outputLabel value="#{p.pkpessoafisica}" />
					</p:column>
					<p:column headerText="Nome">
						<p:outputLabel value="#{p.nome}" />
					</p:column>
					<p:column headerText="Nascimento">
						<p:outputLabel value="#{p.datanascimento}">
							<f:convertDateTime timeZone="America/Fortaleza" />
						</p:outputLabel>
					</p:column>
					<p:column headerText="Mãe">
						<p:outputLabel value="#{p.mae}" />
					</p:column>
				</p:dataTable>
			</h:form>
			<p:confirmDialog 
				widgetVar="confirmacao" closable="false" showEffect="fade" hideEffect="fade" 
				severity="alert" message="Deseja excluir o registro?">
				<h:form>
					<p:panelGrid columns="2" layout="grid"
						styleClass="panelgrid-noborder">
						<p:commandButton value="SIM" onclick="confirmacao.hide()"
							action="#{pessoaFisicaBean.remover}" styleClass="ui-confirmdialog-yes" 
							icon="ui-icon-check" update="frm-pessoafisica frm-localizar" resetValues="true" />
						<p:commandButton value="NÃO" onclick="confirmacao.hide()" styleClass="ui-confirmdialog-no" 
							icon="ui-icon-close" update="frm-pessoafisica frm-localizar" />
					</p:panelGrid>
				</h:form>
			</p:confirmDialog>
		</p:panel>
	</ui:define>
</ui:composition>